
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header:hover {
    transform: scale(1.01);
    transition: all 0.1s;
}

header h1 {
    margin-bottom: 4px;
}


.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    letter-spacing: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: block;
    unicode-bidi: isolate;
}

.item__logo1 {
    width: 30px;
}

.item__logo2 {
    width: 25px;
}

.item__logo3 {
    width: 32px;
}


.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


.footer-bottom {
    color: #fff;
    text-decoration: none;
}


footer img {
    max-width: 100%;
    height: auto;
}
.container {
    margin: 25px;
     display: flex;
    flex-direction: column;
    align-items: center; /* מרכז אופקי */
    justify-content: center; /* מרכז אנכי */
   
}
#contact_requests {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    width: 300px;
}


#contact_requests input,
#contact_requests textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s;
}


#contact_requests input:focus,
#contact_requests textarea:focus {
    border-color:#333 ;
    box-shadow: 0 0 5px rgba(50, 47, 42, 0.4);
    outline: none;
}


#contact_requests textarea {
    height: 100px;
}


#contact_requests button {
    width: 100%;
    padding: 10px;
    background:#333 ;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}


#contact_requests button:hover {
    background: #3b3a37;
}


.backLink {
    display: inline-block;
    margin-top: 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.backLink:hover {
    color: #fca311;
}
.footer-container {
    width: 100%;
}
.footer-top {
 
    display: flex;
    justify-content: space-evenly; /* רווח שווה בין כולם */
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
    flex-wrap: wrap; /* שלא יישבר במסכים קטנים */
}

.footer-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}
